body{
    box-sizing: border-box;
    font-family: sans-serif;
}
section{
    background-color: gray;
    float: left;
    margin-top: 2%;
    margin-left: 2%;
    border: 2px solid black;
    }
    section>span{
        width:33%;
        display: block;
        float: right;
        font-size: 125%;
        text-align: center;
        border-left: 1px solid black;
        border-bottom: 1px solid black;
        }
.span-beff{
    color: white;
    background-color: red;
}
.span-chicken{

    background-color:salmon;
}
.span-sushi{

    background-color:sandybrown;
}

h1{
    text-align: center;
    font-size: 175%;
    }

p{
float: left;
padding-left: 2%;
text-align: left;

}
@media(min-width:992px){
    .section-lg{ 
        width: 30.666% ;
     } 
}
@media(min-width:768px)and (max-width:991px){
    .section-md{ 
        width:47%;
     } 
     .section-md.sushi{ 
        width:96%; 
     } 

     .span-sushi{
        width:16.5%;
        }
}
@media(max-width:767px){
    .section-sm{ 
        width:96%;
     } 

}